html {
    width: 100%;
    height: 100%;
}

body {
    width: 100%;
    height: 100%;
    overflow-x: hidden;
}

/* Header */
.header {
    background-image: url(back-min.jpg);
    background-size: cover; 
    background-position: center; 
    background-repeat: no-repeat; 
    width: 100%;
    height: 650px;
}


.header__logo {
    width: 40px;
    cursor: default;
}


.navbar-collapse {
    background: rgb(0,0,0, 0.8);
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;
    border-radius: 4px;
    margin-top: 20px;
}

.navbar-nav li {
    padding-right: 5px;
}

.nav-link {
    color: rgb(255, 255, 255, 0.9)  !important;
    -webkit-text-shadow: rgb(247, 247, 247) -7px 0px 15px,
    rgb(10, 172, 23) -10px 0px 50px,
     rgb(13, 119, 36) -10px 0px 25px,
      rgb(70, 207, 36) -10px 0px 20px,
       rgb(5, 126, 11) -10px 0px 30px,
        rgb(6, 73, 26) -20px 0px 30px,
         rgb(6, 66, 9) -20px 0px 50px,
          rgb(6, 58, 22) -20px 0px 75px;
    -moz-text-shadow:   rgb(247, 247, 247) -7px 0px 15px,
    rgb(10, 172, 23) -10px 0px 50px,
     rgb(13, 119, 36) -10px 0px 25px,
      rgb(70, 207, 36) -10px 0px 20px,
       rgb(5, 126, 11) -10px 0px 30px,
        rgb(6, 73, 26) -20px 0px 30px,
         rgb(6, 66, 9) -20px 0px 50px,
          rgb(6, 58, 22) -20px 0px 75px;     
    text-shadow: rgb(247, 247, 247) -7px 0px 15px,
     rgb(10, 172, 23) -10px 0px 50px,
      rgb(13, 119, 36) -10px 0px 25px,
       rgb(70, 207, 36) -10px 0px 20px,
        rgb(5, 126, 11) -10px 0px 30px,
         rgb(6, 73, 26) -20px 0px 30px,
          rgb(6, 66, 9) -20px 0px 50px,
           rgb(6, 58, 22) -20px 0px 75px;
    font-size: 19px;
    font-family: "Franklin Gothic Medium";
    
}

.nav-link:hover {
    transform: scale(1.2); 
    transition: 0.7s; 
    transform: translateY(10px);
}

/* Text Frontend */
.header__h1 { 
    position: absolute;
    display: block;
    color: white; 
    font-size: 87px; 
    font-family: "Arial Black"; 
    text-shadow: rgb(247, 247, 247) -7px 0px 15px,
     rgb(10, 172, 23) -10px 0px 50px,
      rgb(13, 119, 36) -10px 0px 25px,
       rgb(70, 207, 36) -10px 0px 20px,
        rgb(5, 126, 11) -10px 0px 30px,
         rgb(6, 73, 26) -20px 0px 30px,
          rgb(6, 66, 9) -20px 0px 50px,
           rgb(6, 58, 22) -20px 0px 75px;
    transform: scaleY(1.25);
    padding-top: 350px;     
} 

.header__h1 a { 
    color: white; 
} 
    
.header__h1 a:hover { 
    text-decoration: none; 
    color: white; 
} 

@media screen and (max-width: 320px) {
    h1.header__h1{
        font-size: 45px;
    }
}

@media screen and (min-width: 350px) and (max-width: 599px) {
    h1.header__h1 {
    font-size: 55px;
    text-align: center;
    position: relative;
    }
}

@media screen and (min-width: 600px) and (max-width: 700px) {
    h1.header__h1 {
        position: relative;
        text-align: center;
    }
}

    
.header__h1__f { 
    animation: flicker 3s infinite step-end; 
    } 

    @keyframes flicker {
        0% {
            opacity: 1;
        }

        3% {
            opacity: 0.4;
        }

        6% {
            opacity: 1;
        }

        7% {
            opacity: 0.4;
        }

        8% {
            opacity: 1;
        }

        9% {
            opacity: 0.4;
        }

        10% {
            opacity: 1;
        }

        89% {
            opacity: 1;
        }

        90% {
            opacity: 0.4;
        }

        100% {
            opacity: 0.4;
        }
    }


/* About me */
.about__me__matrix {
    width: 100%;
    height: 250px;
    padding-top: -50px;
}

.about__me__align {
    margin-top: 40px;
    min-height: 100%;
    max-height: 100%;
}

.about__me__left__block {
    border: 2px solid black;
    border-left: transparent;
    border-right: transparent;
    color: rgb(37, 126, 48);
    font-size: 23px; 
    font-family: "Century Gothic";
    font-weight: 500;
    padding: 40px;
}

@media screen and (max-width: 320px) {
    div.about__me__left__block {
        font-size: 19px;
    }
}

@media screen and (min-width: 330px) and (max-width: 590px) {
    div.about__me__left__block {
        font-size: 18px;
    }
}

@media screen and (min-width: 350px) and (max-width: 599px) {
    p.about__me__photo__align {
        text-align: center;
    }
}

@media screen and (min-width: 600px) and (max-width: 1000px) {
    p.about__me__photo__align{
        text-align: center;
    }
}

.about__me__photo  {
    width: 475px;
    height: 535px;
}

@media screen and (max-width: 320px) {
    img.about__me__photo {
        padding-top: 45px;
        width: 273px;
        height: 380px;
    }
}

@media screen and (min-width: 375px) and (max-width: 500px) {
    img.about__me__photo {
        text-align: center;
        padding-top: 40px;
        width: 320px;
        height: 440px;
    }
}

@media screen and (min-width: 600px) and (max-width: 800px) {
    img.about__me__photo {
        text-align: center;
        padding-top: 40px;
        width: 500px;
        height: 630px;
    }
}

/*My Skills*/

@media screen and (min-width: 576px) and (max-width: 765px) {
    span.skills__text {
        font-size: 14px;
    }
}

.skills__h2 {
    padding-top: 50px;
    font-size: 75px;
    color: black;
    font-family: "Century Gothic";
    font-weight: 500;
    text-align: center;
    margin-top: 20px;
    padding-bottom: 20px;
    cursor: default;
}

.skills__p {
    border-radius: 30px;
    box-shadow:  0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;
    margin-bottom: 35px;
    background: radial-gradient(#82e664, #285c1d);
}

.skills__p:hover {
    background: green;
}

.skills__name:hover {
    text-decoration: none;
    cursor: default;
}

.skills__name span {
    color: black;
    opacity: 0.8;
    font-family: "Century Gothic";
    font-weight: bold;
}

.skills_img {
    padding-top: 10px;
    padding-bottom: 10px;
}



/* PROJECTS */
.projects__h2 {
    padding-top: 50px;
    font-size: 75px;
    color: black;
    font-family: "Century Gothic";
    font-weight: 500;
    margin-top: 20px;
    padding-bottom: 40px;
    cursor: default;
}

@media screen and (max-width: 320px) {
    h2.projects__h2 {
        font-size: 60px;
    }
}

@media screen and (min-width: 350px) and (max-width: 590px) {
    h2.projects__h2 {
        font-size: 70px;
        text-align: center;
    }
}

.projects__portfolio {
    width: 400px;
    height: 280px;
    border: 3px solid green;
    padding: 25px;
    cursor: pointer;
}

.projects__portfolio__second {
    width: 400px;
    height: 280px;
    border: 3px solid green;
    padding: 25px;
    cursor: pointer;
}

@media screen and (min-width: 320px) and (max-width: 320px) {
    img.projects__portfolio {
        width: 280px;
        height: 250px;
    }
}

@media screen and (min-width: 350px) and (max-width: 599px) {
    img.projects__portfolio {
        width: 330px;
        height: 260px;
    }
}


@media screen and (min-width: 350px) and (max-width: 599px) {
    img.projects__portfolio__second {
        width: 330px;
        height: 260px;
    }
}


.portfolio__first__block {
    position: relative;   
       width: 400px;
       height: 280px;
}


.portfolio__first__block__hover {
      position: absolute;
       left:0;
       bottom:0;
       right:0;
       background:rgba(21, 65, 18, 0.9);
       padding:20px;
       display:none;
       height: 280px;
       transition: 0.5s;
}


@media screen and (min-width: 320px) and (max-width: 599px) {
    div.portfolio__first__block__hover p {
       display: none;
    }
}


@media screen and (min-width: 320px) and (max-width: 599px) {
    div.portfolio__first__block__hover  {
       background: transparent;
    }
}

.portfolio__first__block__hover p {
     text-align: center;
     color: black;
     font-weight: 500;
     font-size: 23px;
     padding-top: 45px;
     font-family: "Century Gothic";
}


.hover__button__first {
    background: rgb(23, 107, 7);
    font-weight: 600;
    font-family: "Century Gothic";
    border: none;
    border-radius: 20px;
    width: 220px;
    height: 60px;
}

.hover__button__first:hover {
   background: #2c9c16;
   transform: scale(1.1);
   transition: 0.7s;
}

.hover__button__second {
    background: rgb(23, 107, 7);
    font-weight: 600;
    font-family: "Century Gothic";
    border: none;
    border-radius: 20px;
    width: 220px;
    height: 60px;
    margin-top: -100px;
}

.hover__button__second:hover {
   background: #2c9c16;
   transform: scale(1.1);
   transition: 0.7s;
}
   
.portfolio__first__block:hover .portfolio__first__block__hover{
       display: block;
}

@media screen and (min-width: 600px) {
    button.hover_button_hidden {
        display: none;
    }
}

@media screen and (min-width: 320px) and (max-width: 599px) {
    button.hover_button_hidden {
    background: rgb(0, 151, 45);
    font-weight: 600;
    font-family: "Century Gothic";
    border: none;
    border-radius: 20px;
    width: 220px;
    height: 45px;
    margin-top: -50px;
    margin-bottom: 15px;
    }
}


/* Contacts */

.footer__h2{
    padding-top: 50px;
    font-size: 75px;
    color: black;
    font-family: "Century Gothic";
    font-weight: 500;
    margin-top: 20px;
    padding-bottom: 20px;
    cursor: default;
}

@media screen and (max-width: 320px) {
    h2.footer__h2 {
        text-align: center;
        font-size: 60px;
    }
}


.footer__content {
    background-image: url(ski-compressor.jpg);
    background-size: cover; 
    background-position: center; 
    background-repeat: no-repeat; 
    width: 100%;
    height: 340px;
    text-align: center;
}

.footer__text {
    padding-top: 35px;
    font-size: 23px;
    font-weight: 500;
    color: black;
    cursor: default;
}

@media screen and (min-width: 320px) and (max-width: 760px ) {
    p.footer__text {
        font-size: 18px;
    }
}

.footer__icons { 
    padding-bottom: 25px; 
    padding-top: 18px;
}   

.footer__icon__inst {
    width: 100px;
}

@media screen and (min-width: 320px) and (max-width: 760px ) {
    img.footer__icon__inst {
    width: 75px;
    }
}
    
.footer__icons a { 
    padding: 15px; 
    } 
    
.footer__icon__inst img:hover { 
    transform: scale(1.2); 
    transition: 0.4s; 
    } 
    
.footer__icon__vk img:hover { 
    transform: scale(1.2); 
    transition: 0.4s; 
    } 

.footer__mail {
     font-size: 30px;
     font-family: "Century Gothic";
     color: black;
     font-weight: 500;
 }

.footer__mail__a:hover {
    text-decoration: none;
}

.footer__mail:hover {
     text-decoration: none;
     transform: scale(1.1);
     transition: 0.4s;
 }

 @media screen and (max-width: 320px) {
     p.footer__mail {
         font-size: 23px;
     }
 }

 @media screen and (min-width: 350px) and (max-width: 599px) {
     p.footer__mail {
         font-size: 25px;
         margin-top: -20px;
     }
}



