/* Спецификация */ 

* { 
    padding: 0; 
    margin: 0; 
    } 
    
    html { 
    overflow-x: hidden; 
    } 
    
    body { 
    -webkit-font-smoothing: antialiased; 
    -webkit-overflow-scrolling: touch; 
    height: 100%; 
    padding: 0; 
    margin: 0; 
    } 
    
    /* header */ 
    .header { 
    background-image: url(background.jpg); 
    height: 410px; 
    background-size: cover; 
    background-position: center; 
    background-repeat: no-repeat; 
    } 
    
    .name { 
    color: rgb(255,255,255,0.9); 
    font-family: "Tahoma"; 
    font-weight: 600; 
    font-size: 20px; 
    line-height: 1.6; 
    padding-left: 25%; 
    letter-spacing: 5px; 
    margin-top: 20px; 
    
    } 
    
    .surname { 
    margin-left: 65px; 
    padding-top: 50px; 
    } 
    
    .work { 
    color: white; 
    text-align: center; 
    margin-top: 85px; 
    margin-left: 38px; 
    font-size: 47px; 
    font-family: "Arial Black"; 
    text-shadow: #FFF 0px 0px 5px, #FFF 0px 0px 10px, #FFF 0px 0px 15px, rgb(201, 54, 128) 0px 0px 20px, #FF2D95 0px 0px 30px, #FF2D95 0px 0px 40px, rgb(165, 30, 97) 0px 0px 50px, #FF2D95 0px 0px 75px; 
    
    } 
    
    .f { 
    animation: flicker 3s infinite step-end; 
    } 
    
    .work a { 
    color: white; 
    } 
    
    .work a:hover { 
    text-decoration: none; 
    color: white; 
    } 
    
    
    /* навигационные кнопки */ 
    .btn:hover { 
    transform: scale(1.2); 
    transition: 0.4s; 
    } 
    
    .nav { 
    margin-top: 30px; 
    margin-left: 35px; 
    } 
    
    .nav .btn { 
    padding: 25px; 
    } 
    
    .btn a { 
    font-size: 17px; 
    font-weight: 600; 
    font-family: "Century Gothic"; 
    border: 1.5px solid rgb(252, 250, 251,0.80); 
    border-radius: 25px; 
    padding: 6px; 
    } 
    
    .btn a:hover { 
    text-decoration: none; 
    } 
    
    .btn .aboutme { 
    color: rgba(235, 235, 103, 0.7); 
    background: linear-gradient(to right, rgb(165, 71, 149), rgb(219, 32, 73)); 
    text-shadow: 1px 3px 0 #6b4e45, 1px 13px 5px #aba8a8; 
    box-shadow: 10px -9px 12px -7px rgb(128, 127, 136); 
    padding: 12px; 
    } 
    
    
    .btn .portfolio { 
    color: rgb(93, 225, 230,0.75); 
    background: linear-gradient(to right, rgb(255, 0, 119), purple); 
    text-shadow: 1px 3px 0 #667274, 1px 13px 5px #aba8a8; 
    box-shadow: 10px -9px 12px -7px rgb(128, 127, 136); 
    padding: 12px; 
    } 
    
    
    .btn .contacts { 
    color: rgba(233, 207, 226, 0.8); 
    background: linear-gradient(to right, rgb(245, 102, 169), rgb(42, 83, 158)); 
    text-shadow: 1px 3px 0 #8f6586, 1px 13px 5px #aba8a8; 
    box-shadow: 10px -9px 12px -7px rgb(128, 127, 136); 
    padding: 12px; 
    } 
    
    
    
    .btn .signup { 
    color: rgb(52, 45, 151,0.7); 
    background: linear-gradient(to right, rgb(245, 224, 102), rgb(235, 38, 48)); 
    text-shadow: 1px 2px 0 #a0a4b9, 1px 13px 6px #766d86; 
    box-shadow: 10px -9px 12px -7px rgb(128, 127, 136); 
    padding: 12px; 
    } 
    
    
    .ars { 
    display: inline-block; 
    padding-left: 20%; 
    } 
    
    
    .arrow-7 { 
    margin: 20px; 
    } 
    .arrow-7 span { 
    display: block; 
    width: 30px; 
    height: 30px; 
    border-bottom: 5px solid rgb(221, 117, 212); 
    border-right: 5px solid rgb(209, 109, 123); 
    transform: rotate(45deg); 
    margin: -16px; 
    animation: arrow-7 2s infinite; 
    } 
    .arrow-7 span:nth-child(2){ 
    animation-delay: -0.2s; 
    } 
    .arrow-7 span:nth-child(3){ 
    animation-delay: -0.4s; 
    } 
    @keyframes arrow-7 { 
    0%{ 
    opacity: 0; 
    transform: rotate(45deg) translate(-20px,-20px); 
    } 
    50%{ 
    opacity: 1; 
    } 
    100%{ 
    opacity: 0; 
    transform: rotate(45deg) translate(20px,20px); 
    } 
    } 
    
    .dobro { 
    padding-top: 3%; 
    } 
    
    .hello__img { 
    padding-top: 50px; 
    } 
    
    .hello__text { 
    color: rgb(119, 18, 111); 
    text-align: center; 
    font-size: 25px; 
    font-family: "Segoe print"; 
    font-weight: 500; 
    padding-left: 70px; 
    padding-top: 70px; 
    } 
    
    .body { 
    padding-top: 30px; 
    background-color: white; 
    -webkit-box-shadow: 10px 9px 42px -13px rgba(100, 33, 83, 0.54); 
    -moz-box-shadow: 10px 9px 42px -13px rgba(97, 36, 82, 0.54); 
    box-shadow: 10px 9px 42px -13px rgba(85, 19, 63, 0.54); 
    padding-bottom: 30px; 
    } 
    
    .portfel { 
    padding-top: 350px; 
    } 
    
    .h1_portfolio { 
    font-size: 60px; 
    padding-top: 30px; 
    color: rgb(88, 7, 82); 
    } 
    
    .h2__portfolio { 
    font-size: 25px; 
    color: rgb(88,7,82); 
    font-family: "Segoe print"; 
    padding-top: 50px; 
    padding-left: 40px; 
    } 
    
    .lamp { 
    padding-top: 50px; 
    } 
    
    .case {
     
    padding-left: 50px; 
    padding-top: 65px; 
    } 
    
    
    .case img { 
    padding: 5px; 
    } 
    
    .case img:hover { 
    transform: scale(1.3); 
    transition: 0.4s; 
    } 
    
    .h1_contacts { 
    font-size: 60px; 
    padding-top: 130px; 
    color: rgb(88, 7, 82); 
    padding-bottom: 20px; 
    } 
    
    .phone { 
    background-image: url(tim-mossholder-9Gg_D6eLnC0-unsplash.jpg); 
    height: 350px; 
    background-size: cover; 
    background-position: center; 
    background-repeat: no-repeat; 
    padding-top: 25px; 
    text-align: center; 
    font-size: 27px; 
    color: white; 
    font-family: "Segoe print"; 
    } 
    
    .icons { 
    padding-bottom: 15px; 
    } 
    
    .icons a { 
    padding: 15px; 
    } 
    
    .inst img:hover { 
    transform: scale(1.3); 
    transition: 0.4s; 
    } 
    
    .vk img:hover { 
    transform: scale(1.2); 
    transition: 0.4s; 
    } 
    
    .footer { 
    padding-top: 30px; 
    } 
    
    .signup { 
    background-image: url(hin-bong-yeung-jF946mh5QrA-unsplash.jpg); 
    height: 410px; 
    background-size: cover; 
    background-position: center; 
    background-repeat: no-repeat; 
    padding-top: 100px; 
    } 
    
    .arrows { 
    padding-bottom: 50px; 
    margin-left: 50%; 
    } 
    
    .signup p { 
    color: white; 
    text-align: center; 
    background-color: rgba(70, 5, 59, 0.6); 
    font-size: 27px; 
    font-family: "Segoe print"; 
    } 
    
    .connection { 
    font-size: 30px; 
    padding-bottom: 30px; 
    } 
    
    .connection input { 
    border-radius: 25px; 
    color: white; 
    padding-left: 10px; 
    background-color: rgb(201, 54, 128,0.9); 
    border: 2px solid white; 
    outline: none; 
    } 
    
    .connection .put { 
    color: white; 
    } 
    
    .put { 
    color: white; 
    } 
    
    
    .sent { 
    border-radius: 25px; 
    color: white; 
    background-color: rgb(201, 54, 128, 0.9); 
    padding: 15px; 
    font-family: "Segoe print"; 
    } 
    
    
    
    .connection input:focus-within { 
    border: 4px solid rgb(119, 18, 111); 
    } 
    
    .sent:hover { 
    transform: scale(1.1); 
    transition: 0.5s; 
    } 
    
    ::-webkit-input-placeholder { 
    color:#fdf7f7; 
    opacity: 0.6; 
    font-size: 24px; 
    }/* webkit */ 
    ::-moz-placeholder { 
    color:#ffffff; 
    opacity: 1; 
    }/* Firefox 19+ */ 
    :-moz-placeholder { 
    color:#fff8f8; 
    opacity: 1; 
    }/* Firefox 18- */ 
    :-ms-input-placeholder { 
    color:#ffffff; 
    opacity: 1; 
    }/* IE */ 
    
    
    :focus::-webkit-input-placeholder { 
    opacity:0; 
    }/* webkit */ 
    :focus::-moz-placeholder {opacity:0; 
    }/* Firefox 19+ */ 
    :focus:-moz-placeholder { 
    opacity:0; 
    }/* Firefox 18- */ 
    :focus:-ms-input-placeholder { 
    opacity:0; 
    }/* IE */