html {
    width: 100%;
    height: 100%;
}

body {
    width: 100%;
    height: 100%;
    overflow-x: hidden;
}

/* шапка */
.header {
    background-image: url(back.jpg);
    background-size: cover; 
    background-position: center; 
    background-repeat: no-repeat; 
    width: 100%;
    height: 650px;
}


.logo {
    width: 40px;
    cursor: default;
}

.logo_hidden {
    width: 50px;
}

.navbar-nav li {
    padding-right: 5px;
}



.nav-link {
    color: rgb(255, 255, 255, 0.9)  !important;
    text-shadow: rgb(247, 247, 247) -7px 0px 15px,
     rgb(10, 172, 23) -10px 0px 50px,
      rgb(13, 119, 36) -10px 0px 25px,
       rgb(70, 207, 36) -10px 0px 20px,
        rgb(5, 126, 11) -10px 0px 30px,
         rgb(6, 73, 26) -20px 0px 30px,
          rgb(6, 66, 9) -20px 0px 50px,
           rgb(6, 58, 22) -20px 0px 75px;
    font-size: 19px;
    font-family: "Franklin Gothic Medium";
    
}

.nav-link:hover {
    transform: scale(1.2); 
    transition: 0.7s; 
    transform: translateY(10px);
}

/* Frontend */
@media screen and (max-width: 320px) {
    h1.work{
        font-size: 45px;
    }
}

@media screen and (min-width: 350px) and (max-width: 599px) {
    h1.work {
    font-size: 55px;
    text-align: center;
    position: relative;
    }
}

@media screen and (min-width: 600px) and (max-width: 1000px) {
    h1.work {
        position: relative;
        text-align: center;
    }
}

.work { 
    position: absolute;
    display: block;
    color: white; 
    font-size: 87px; 
    font-family: "Arial Black"; 
    text-shadow: rgb(247, 247, 247) -7px 0px 15px,
     rgb(10, 172, 23) -10px 0px 50px,
      rgb(13, 119, 36) -10px 0px 25px,
       rgb(70, 207, 36) -10px 0px 20px,
        rgb(5, 126, 11) -10px 0px 30px,
         rgb(6, 73, 26) -20px 0px 30px,
          rgb(6, 66, 9) -20px 0px 50px,
           rgb(6, 58, 22) -20px 0px 75px;
    transform: scaleY(1.25);
    padding-top: 350px;     
   } 

    
    .f { 
    animation: flicker 3s infinite step-end; 
    } 

    @keyframes flicker {
        0% {
            opacity: 1;
        }

        3% {
            opacity: 0.4;
        }

        6% {
            opacity: 1;
        }

        7% {
            opacity: 0.4;
        }

        8% {
            opacity: 1;
        }

        9% {
            opacity: 0.4;
        }

        10% {
            opacity: 1;
        }

        89% {
            opacity: 1;
        }

        90% {
            opacity: 0.4;
        }

        100% {
            opacity: 0.4;
        }
    }
    
    .work a { 
    color: white; 
    
    } 
    
    .work a:hover { 
    text-decoration: none; 
    color: white; 
    } 

.overlay {
    min-height: 100%;
    max-height: 100%;

    
}

.matrix {
    width: 100%;
    height: 250px;
    padding-top: -50px;
}

.aboutme {
    background-color: black;
    color: rgb(0,119,69);
    font-size: 25px; 
    font-family: "Century Gothic";
    text-shadow: rgb(0, 0, 0) -7px 0px 15px,
     rgb(10, 172, 91) 0px 0px 15px,
      rgb(15, 156, 69) 0px 0px 20px,
       rgb(14, 22, 12) 0px 0px 20px,
        rgb(5, 126, 45) 0px 0px 20px,
         rgb(6, 73, 26) 0px 0px 15px,
          rgb(6, 66, 9) 0px 0px 15px,
           rgb(6, 58, 22) -20px 0px 15px;
           padding: 44px;
}

@media screen and (max-width: 320px) {
    div.aboutme {
        font-size: 20px;
    }
}


.hey {
    margin-top: 40px;
}

@media screen and (max-width: 320px) {
    img.me {
        padding-top: 30px;
        width: 275px;
        height: 390px;
    }
}

@media screen and (min-width: 350px) and (max-width: 599px) {
    img.me {
        padding-top: 30px;
        width: 330px;
        height: 440px;

    }
}

@media screen and (min-width: 350px) and (max-width: 599px) {
    p.img_center {
        text-align: center;
    }
}

@media screen and (min-width: 600px) and (max-width: 1000px) {
    img.me {
        padding-top: 50px;
        width: 500px;
        height: 650px;
    }
}

@media screen and (min-width: 600px) and (max-width: 1000px) {
    p.img_center {
        text-align: center;
    }
}



.projects {
    padding-top: 50px;
    font-size: 75px;
    color: black;
    font-family: "Century Gothic";
    font-weight: 500;
    margin-top: 20px;
    padding-bottom: 40px;
}

@media screen and (max-width: 320px) {
    h2.projects {
        font-size: 60px;
    }
}


.skills_first {
    font-size: 50px;
}

@media screen and (max-width: 320px) {
    div.card1 {
        margin-bottom: 30px;
    }
}

@media screen and (min-width: 350px) and (max-width: 599px) { 
    div.card1 {
        margin-bottom: 50px;
    }
}

.skills_second {
    font-size: 55px;
    color: rgb(33,37,41);
    padding-bottom: 20px;

}

.skills_icons {
    padding-left: 110px;
}



.skills_icons img {
    padding-right: 47px;
    padding-bottom: 30px;
}

.skills_icons img:hover {
    transform: scale(1.2); 
    transition: 0.7s; 
}

.card1 {
    border: 5px solid rgb(5, 155, 110);
    border-radius: 15px;
    padding-top: 20px;
}


.contacts {
    padding-top: 50px;
    font-size: 75px;
    color: black;
    font-family: "Century Gothic";
    font-weight: 500;
    margin-top: 20px;
    padding-bottom: 40px;
}

@media screen and (max-width: 320px) {
    h2.contacts {
        font-size: 60px;
    }
}



.back_footer {
    background-image: url(sky.jpg);
    background-size: cover; 
    background-position: center; 
    background-repeat: no-repeat; 
    width: 100%;
    height: 340px;
    text-align: center;
}

.icons { 
    padding-bottom: 40px; 
    padding-top: 80px;
    } 

    @media screen and (max-width: 320px) {
        img.insta {
            width: 75px;
        }
    }

    @media screen and (max-width: 320px) {
        img.face {
            width: 75px;
        }
    }
    
    
    .icons a { 
    padding: 15px; 
    } 
    
    .inst img:hover { 
    transform: scale(1.3); 
    transition: 0.4s; 
    } 
    
    .vk img:hover { 
    transform: scale(1.2); 
    transition: 0.4s; 
    } 

 .p_footer {
     font-size: 30px;
     font-family: "Century Gothic";
     color: black;
     font-weight: 500;
 }

.mail:hover {
    text-decoration: none;
}

 .p_footer:hover {
     text-decoration: none;
     transform: scale(1.1);
     transition: 0.4s;
 }

 @media screen and (max-width: 320px) {
     p.p_footer {
         font-size: 23px;
         color: white;
     }
 }

 @media screen and (min-width: 350px) and (max-width: 599px) {
     p.p_footer {
         font-size: 25px;
         color: white;
         margin-top: -20px;
     }
}














